.hero {
  width: 100%;
  min-height: 680px;
  background: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(/src/assets/images/hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 50px;

  .hero-wrapper {
    max-width: 900px;
  }

  & > .hero-details {
    padding-top: 100px;

    .hero-details--text {
      h1, p {
        width: 100%;
        color: white;

        @include break-point($grid__bp-md) {
          text-align: center;
        }
      }

      h1 {
        font-size: 2.2em;
      }

      p {
        padding-top: 20px;
        font-size: 1.4em;
        font-weight: 300;
      }

      .button {
        background: -webkit-linear-gradient(-90deg, lighten($color-secondary, 5%), $color-secondary);
        background: linear-gradient(180deg, lighten($color-secondary, 5%), $color-secondary);
        color: white;
        text-align: center;
        padding: 15px 25px;
        display: block;
        max-width: 210px;
        text-decoration: none;
        margin-top: 35px;
        border-radius: 3px;
        color: $color-primary;
        font-weight: 600;
        box-shadow: 0px 1px 4px rgba(0,0,0,.4);
        transition: background, box-shadow, transform .1s linear;

        &:hover {
          background: -webkit-linear-gradient(-90deg, lighten($color-secondary, 10%), $color-secondary);
          background: linear-gradient(180deg, lighten($color-secondary, 10%), $color-secondary);
          box-shadow: 0px 1px 8px rgba(0,0,0,0.5);

          transform: translateY(-1px);
        }

        @include break-point($grid__bp-md) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 40px;
        }
      }
    }

    .hero-details--image {
      & > img {
        margin: 0 auto;
        margin-bottom: -100px;
        width: 300px;

        @include break-point($grid__bp-md) {
          margin-bottom: -40px;
        }
      }
    }
  }
}