@import './../../utils/functions.scss';

.section {
  margin: 80px 0;

  @include break-point($grid__bp-md) {
    margin: 20px 0;
  }

  /**
    Carousel Sections
   */
  &--carousel {
    .heading {
      text-align: center;
    }
  }

  /**
    Default Info Sections
   */
  &--info {
    & > .container {
      width: $grid__bp-lg;

      @include break-point($grid__bp-md) {
        [class*='col-'] {
          margin: 20px 0;
        }
      }
    }

    .link {
      display: block;
      margin: 20px 0;
    }
  }
}