/**
  App Header Component
   /components/Header.vue
 */
@import './../utils/functions.scss';

.nav-bar {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  z-index: 999;

  &.sticky, &.open {
    background-color: $color-primary;
  }

  .float-right, .float-left {
    @include break-point($grid__bp-md) {
      float: none;
    }
  }

  &.open .nav-items > ul {
    display: block !important;
    margin-top: 10px;
  }

  ul {
    float: left;

    @include break-point($grid__bp-md) {
      width: 100%;
      display: none;
    }

    li {
      line-height: 40px;
      display: inline-block;

      @include break-point($grid__bp-md) {
        width: 100%;
        display: block;

        & > a {
          display: block;
          text-align: center;
          width: 100%;
          padding: 10px 0 !important;
        }
      }

      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      
      & > a {
        padding: 15px 20px;
        text-decoration: none;
        color: rgba(255,255,255,0.8);
        text-transform: uppercase;
        font-weight: 400;

        &.router-link-active {
          color: white;
          text-decoration: underline;
          font-weight: 500;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  .nav-hamburglar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;

    // Show the toggle on Mobile
    &.toggle {
      @include break-point($grid__bp-md) {
        display: block;
      }
    }

    & > div {
      float: left;

      top: 8px;
      width: 34px;
      height: 34px;
      position: relative;
      margin: 0;

      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      cursor: pointer;

      & > span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 3px;
        left: 0;

        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        cursor: pointer;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -ms-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }

        &:nth-child(1) {
          top: 0%;
        }

        &:nth-child(2) {
          top: 33%;
        }

        &:nth-child(3) {
          top: 66%;
        }
      }
    }

    &.open {
      & > div > span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      & > div > span:nth-child(2) {
        width: 0px;
        opacity: 0;
      }

      & > div > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  .logo-container {
    .logo {
      height: 35px;
    }
  }
}