/**
  Generate a Media Query Break-point
 */
@mixin break-point($break) {
  @if($break == 0) {
    @content;
  } @else {
    @media screen and (max-width: $break * 1px) {
      @content;
    }
  }
}

%clearfix {
  zoom:1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}