.container {
  max-width: $grid__bp-xl * 1px;
  padding: 0 $grid__padding * 1px;
  box-sizing: border-box;
  margin: 0 auto;

  & > .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.row--reverse {
      flex-direction: row-reverse;
    }
  }
}

[class*='col-'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Generate Breakpoints
@mixin create-break($break) {
  @if($break == 0) {
    @content;
  } @else {
    @media screen and (min-width: $break * 1px) {
      @content;
    }
  }
}

// Generate Column Classes
@mixin create-col-classes($modifier, $cols, $break) {
  @include create-break($break) {
    @for $i from 1 through $cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($cols / $i)) * 1%;
      }

      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($cols / $i) ) * 1%;
      }
    }
  }
}

@each $modifier, $breakpoint in $map-grid-opts {
  @include create-col-classes($modifier, $grid__cols, $breakpoint);
}