body {
  font-family: $font-family-body;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.84);
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  padding: 20px 0;
  color: $color-primary;
}

p {
  color: lighten($color-primary, 20%);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

.link {
  color: $color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  transition: color, transform .2s ease;
  letter-spacing: 0.2px;

  &:hover {
    color: darken($color-secondary, 15%);
    transform: translateY(-1px);
  }
}