<template>
    <div>
        <h1>About Component</h1>
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        }
    }
</script>

<style lang="scss"></style>
