<template>
    <div>
        <!-- Header !-->
        <div class="hero">
            <!-- Navigation !-->
            <nav-component></nav-component>
            <div class="hero-details">
                <div class="container hero-wrapper">
                    <div class="row">
                        <!-- Introduction !-->
                        <div class="col-sm-12 col-md-6 hero-details--text">
                            <div class="introduction">
                                <h1>Australia's First E-Wallet</h1>
                                <p>Conventional wallets of the past are transforming into the innovative digital wallets of the future.</p>
                                <a href="#" class="button">Claim Free Rewards</a>
                            </div>
                        </div>
                        <!-- Mobile Preview !-->
                        <div class="col-12 col-sm-12 col-md-6 hero-details--image">
                            <img src="src/assets/images/mobile.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Partners !-->
        <div class="section section--carousel section--partners">
            <div class="container">
                <h3 class="heading">Companies already using E-Wallet</h3>
                <carousel :perPageCustom="carousel.breakpoints">
                    <slide v-for="item in carousel.items">
                        <a href="#"><img :alt="item.label" :src="item.image" /></a>
                    </slide>
                </carousel>
            </div>
        </div>

        <!-- Covered !-->
        <div class="section section--info">
            <div class="container container--section-info">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="promo-image">
                            <img style="transform: translateY(50px)" width="100%" src="src/assets/images/promo/ewallet-mobile.png" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-offset-1">
                        <div>
                            <h2 class="heading">We've got you covered</h2>
                            <p>From storing points, ePurchases and loyalty cards, to managing pre-loaded funds and Credit/Debits cards, consumers can now securely access your platform, eliminating the need for a traditional checkout experience through real-time transactions.</p>
                            <a href="#" class="link link--flat">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Make it your own !-->
        <div class="section section--info">
            <div class="container container--section-info">
                <div class="row row--reverse">
                    <div class="col-12 col-sm-12 col-md-5 col-offset-1">
                        <img style="transform: translateY(20px)" width="100%" src="src/assets/images/promo/ewallet-card.png" />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div>
                            <h2 class="heading">Customize your brand</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                            <a href="#" class="link link--flat">Learn More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Nav from './Nav.vue'
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        components: {
            'nav-component': Nav,
            Carousel,
            Slide
        },

        data () {
            return {
                carousel: {
                    breakpoints: [
                        [480, 1], // Mobile
                        [768, 4], // Tablet
                        [992, 5], // Small Desktops
                        [1200, 6] // Large Displays
                    ],
                    items: [
                        { label: "xxx", image: 'src/assets/images/partners/1.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/2.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/3.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/4.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/5.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/6.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/7.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/8.jpg' },
                        { label: "xxx", image: 'src/assets/images/partners/9.jpg' }
                    ]
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import 'src/assets/scss/core/globals.scss';
    @import 'src/assets/scss/components/home.scss';
</style>
