<template>
    <div v-sticky="stickyConfig">
      <div class="nav-bar" v-bind:class="{ open: isMenuOpen }">
          <div class="container">
            <div class="float-left">
                <div class="logo-container">
                    <img class="logo" src="src/assets/images/logo.svg" />
                </div>
            </div>
            <nav class="nav-items float-right">
                <ul>
                    <li><router-link exact to="/">Home</router-link></li>
                    <li><router-link exact to="/about-us">About Us</router-link></li>
                    <li><router-link exact to="/contact-us">Contact Us</router-link></li>
                </ul>
            </nav>
              <div class="nav-hamburglar toggle" v-on:click="toggleMenu" v-bind:class="{ open: isMenuOpen }">
                  <div>
                       <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
    import Sticky from './../directives/sticky.js';

    export default {
        data () {
            return {
                isMenuOpen: false,

                stickyConfig: {
                    stickyTop: 40
                }
            }
        },

        directives: {
            'sticky': Sticky
        },

        methods: {
            toggleMenu: function() {
                this.isMenuOpen = !this.isMenuOpen;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import 'src/assets/scss/core/globals.scss';
    @import 'src/assets/scss/components/nav.scss';
</style>