/**
  Branding Colours
 */
$color-base: #fefefe;
$color-primary: #111111;
$color-secondary: #d8b371;

/**
  Typography
 */
$font-family-body: 'Lato', sans-serif;

/**
  Grid
  Defaults uses the same breakpoints as Bootstrap V4.
 */
$grid__cols: 12; // Total columns

$grid__padding: 20;
$grid__bp-sm: 576; // Small (Mobiles)
$grid__bp-md: 768; // Medium (Tablet)
$grid__bp-lg: 992; // Large (Desktop)
$grid__bp-xl: 1200; // Extra Large (Desktop)

$map-grid-opts: (
        '': 0,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl
);