<template>
    <div class="app-container">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data () {

            return {

            }
        }
    }
</script>

<style lang="scss">
    @import 'src/assets/scss/app.scss'
</style>
